@font-face {
  font-family: "Museo";
  src: url("../fonts/museo_300_spanish/Museo300-Regular-webfont.eot?")
      format("eot"),
    url("../fonts/museo_300_spanish/Museo300-Regular-webfont.woff")
      format("woff"),
    url("../fonts/museo_300_spanish/Museo300-Regular-webfont.ttf")
      format("truetype"),
    url("../fonts/museo_300_spanish/Museo300-Regular-webfont.svg#webfontQ4NqlBIZ")
      format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo_500_spanish/Museo500-Regular-webfont.eot?")
      format("eot"),
    url("../fonts/museo_500_spanish/Museo500-Regular-webfont.woff")
      format("woff"),
    url("../fonts/museo_500_spanish/Museo500-Regular-webfont.ttf")
      format("truetype"),
    url("../fonts/museo_500_spanish/Museo500-Regular-webfont.svg#webfontQ4NqlBIZ")
      format("svg");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #f8f8f8 url(../images/layout/noise.png);
}

body {
  background: url(../images/layout/wrapper-bg.png) no-repeat 50% 0;
  font: 18px/1.5 "Helvetica Neue", Helvetica, Arial, serif;
}

span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

img.guan {
  display: block;
  margin: 1em auto;
}

@media (max-width: 600px) {
  img.guan {
    width: 60%;
  }
}

header h1 {
  color: #888;
  font-family: "Museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  text-transform: lowercase;
  width: 23.3rem;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 0.8rem;
    width: 90%;
  }
}

header h1 strong {
  color: #222;
  display: block;
  font-family: "Museo";
  font-size: 2.8em;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1;
  text-transform: capitalize;
}

header h1 span.amp {
  bottom: -0.15em;
  color: #222;
  font-size: 1.5em;
  line-height: 1;
  position: relative;
}

footer {
  color: #aaa;
  font-weight: 300;
  font-family: "Museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

footer strong {
  color: #666;
}
