/* -------------------------------------------------------------------------------
  Main stylesheet

  Encoding: UTF-8
  Authors:
    Juan G. Hurtado   [juan.g.hurtado@gmail.com]
    Álvaro Fernández  [creativo@alvarografico.es]
  Table of contents
----------------------------------------------------------------------------------
  1.GLOBALS
  2.HEADER
---------------------------------------------------------------------------------- */

/* =GLOBALS
---------------------------------------------------------------------------------- */
@font-face {
    font-family: 'Museo300';
    src: url('../fonts/museo_300_spanish/Museo300-Regular-webfont.eot?') format('eot'),
         url('../fonts/museo_300_spanish/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/museo_300_spanish/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/museo_300_spanish/Museo300-Regular-webfont.svg#webfontQ4NqlBIZ') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';
    src: url('../fonts/museo_500_spanish/Museo500-Regular-webfont.eot?') format('eot'),
         url('../fonts/museo_500_spanish/Museo500-Regular-webfont.woff') format('woff'),
         url('../fonts/museo_500_spanish/Museo500-Regular-webfont.ttf') format('truetype'),
         url('../fonts/museo_500_spanish/Museo500-Regular-webfont.svg#webfontQ4NqlBIZ') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background: #f8f8f8 url(../images/layout/noise.png);
}

body {
  background: url(../images/layout/wrapper-bg.png) no-repeat 50% 0;
  font: 18px/1.5 "Helvetica Neue", Helvetica, Arial, serif;
  margin: 0;
  padding: 0;
}

span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

img.guan {
  display: block;
  margin: 1em auto;
}

/* =HEADER
---------------------------------------------------------------------------------- */
header h1 {
  color: #888;
  font-weight: normal;
  font-family: 'Museo300', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 2em;
  position: relative;
  text-align: center;
  text-transform: lowercase;
  width: 421px;
}

  header h1 strong {
    color: #222;
    display: block;
    font-family: 'Museo500';
    font-size: 2.8em;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: capitalize;
  }

  header h1 span.amp {
    bottom: -0.15em;
    color: #222;
    font-size: 1.5em;
    line-height: 1;
    position: relative;
  }

/* =FOOTER
---------------------------------------------------------------------------------- */
footer {
  color: #aaa;
  font-weight: normal;
  font-family: 'Museo300', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  text-align: center;
}

footer strong {
  color: #666;
}
